/* generel css */
body{
    margin-top:50px;
    font-family: 'Roboto', sans-serif;
    background: cornsilk;
}

p{
    padding:0;
    margin: 0;
}


/* weather top part */
.weather h1{
    font-size: 33px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 1px 3px greenyellow;
}

.weather i{
    font-size:40px;
    margin:0 20px 0 48px;
}

.weather h3{
    margin-top:20px;
}

/* weather temp and unit */
.weather-temp{
    margin-top: 20px;
}


#tempUnit{
    cursor: pointer;
}

#tempUnit:hover{
    color: blue;
}

#temp, #tempUnit{
    font-family:Roboto;
    font-size: 38px;
}

@media(max-width:990px){
  .weather h1{
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
  }
}

@media(max-width:770px){
  .weather{
    text-align:center;
    padding:0 10%; 
  }
  .weather h1{
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
  }
  .weather i{
    font-size:40px;
    margin:0 20px 0 48px;
  }
}


/* weather top right side data css*/
.weather-data-row{
    border: 1px solid lightgray;
}

.weather-info{
    border-left: 1px solid lightgrey;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #3380FF;
    color: #fff;
    letter-spacing: 1px;
}

.weather-info ul{
    list-style:none;
    font-size:20px;
}

/* weather second part data css */
.weather-data2-row{
    margin-top:15px;
}

.wData2{
    text-align: center;
}

.wData2-col{
    border-right: 1px solid white;
}


/* weather second part title data css */
.wData2-title-row{
    background-color:red;
}

.wTitle{
    padding-top: 5px;
    color: white;
}


/* weather second part description data css */
.wData2-des-row{
    background-color: black;
    color:white;
}

.wDescription{
    padding:5px 0;
}

@media(max-width:770px){
  .weather-data2-row{
    padding: 0 8%;
  }
}

/* credits and footer css */
.credits{
    text-align: center;
    margin-top: 20px;
}

.credits ul{
    list-style: none;
}

.footer-text{
    text-align: center;
}